<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= image_tag @user.image, size: "225x225", alt: @user.name %>
    <%= f.input :avatar, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, {class: "btn btn-primary"} %>
  </div>
<% end %>