<div class="container padded">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1><%= @user.first_name %> <%= @user.last_name %></h1>

      <%= image_tag @user.image, size: "225x225", alt: @user.name %>

      <h2>My flats</h2>
      <table class="table">
        <tr>
        <th>Flat</th>
        <th>Address</th>
        <% if @user == current_user %>
          <th class="text-center">Edit</th>
          <th class="text-center">Destroy</th>
          <th class="text-center">Edit Pics</th>
        <% end %>
          </tr>
        <% @user.flats.each do |flat| %>
          <tr>
            <td><%= link_to flat_path(flat) do %>
              <%= flat.name %>
            <% end %></td>
            <td>
              <%= link_to flat_path(flat) do %>
                <%= flat.address %>
              <% end %>
            </td>

            <% if @user == current_user %>
              <td class="text-center"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_flat_path(flat) %></td>
              <td class="text-center"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td class="text-center"><%= link_to '<i class="fa fa-camera"></i>'.html_safe, flat_flat_pics_path(flat) %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

      <% if @user == current_user %>

        <%= link_to "Add a flat", new_flat_path, {class: "btn btn-primary"} %>

        <h2>My Trips</h2>

        <table class="table">
          <tr>
           <th>Flat</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
            </tr>
            <% @user.bookings.each do |booking| %>
            <tr>
              <td><%= booking.flat.name %></td>
              <td><%= booking.start_date %></td>
              <td><%= booking.end_date %></td>
              <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, booking %></td>
              <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_booking_path(booking) %></td>
              <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>

        <%= link_to "Edit profile", edit_user_path, {class: "btn btn-primary"} %>
        <%= link_to "Edit my account settings", edit_user_registration_path(@user), {class: "btn btn-primary"} %>
      <% end %>
    </div>
  </div>
</div>