<div class="container padded">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1><%= @user.first_name %> <%= @user.last_name %></h1>

      <%= image_tag @user.image, size: "225x225", alt: @user.name %>

      <h2>My flats</h2>
      <table class="table">
        <tr>
        <th>Flat</th>
        <th>Edit</th>
        <th>Destroy</th>
          </tr>
        <% @user.flats.each do |flat| %>
          <tr>
            <td><%= link_to flat_path(flat) do %>
              <%= flat.name %> | <%= flat.city %>
            <% end %></td>
            <td><%= link_to "Edit", edit_flat_path(flat) %></td>
            <td><%= link_to 'Destroy', flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to '<i class="fa fa-camera"></i>'.html_safe, flat_flat_pics_path(flat) %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to "Add a flat", new_flat_path %>

      <h2>My Visits</h2>
      <ul>
        <% @user.bookings.each do |booking| %>
          <li>
            <%= link_to flat_path(booking.flat) do %>
              I went to <%= booking.flat.city %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <%= link_to "Edit profile", edit_user_path %>|
      <%= link_to "Edit my account settings", edit_user_registration_path(@user) %>
    </div>
  </div>
</div>