<%= semantic_form_for [@flat, @flat_pic] do |f| %>
<div class="form-inputs">
  <%= f.input :picture, as: :file%>
</div>

  <%= f.action :submit, as: :button, label: 'Upload Pic', :class => "btn btn-primary" %>
  <br>
  <br>
<div class="form-actions btn-group">


  <%= link_to 'My Listings', user_path(current_user), {class: "btn btn-primary"}  %>
  <%= link_to 'This Venue', flat_path(@flat), {class: "btn btn-primary"}  %>
</div>
<% end %>