<%= semantic_form_for @flat do |f| %>
<%= f.inputs do %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address, id: "flat_address" %>
    <%= f.input :city %>
    <%= f.input :accomodates %>


    <%= f.input :price, prepend: '€', hint: "Example: 35" %>

<!-- This integrates the create flat_pic form into the flat create form -->
    <%= f.semantic_fields_for :flat_pics do |ff| %>
        <%= ff.input :picture, as: :file %>
    <% end %>
<!-- Also modified the flat model & controller new and params -->
  </div>

    <div class= "btn btn-primary">
    <%= f.button :submit, as: :button, class: "btn btn-primary" %>
    </div>
    <%= link_to 'Cancel', user_path(current_user), {class: "btn btn-primary"} %>
  <br>
  <% end %>
<% end %>

