<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :accomodates %>

<div class="form-inline">
  <div class="form-group">
    <label class="sr-only">Amount (in Euros)</label>
    <div class="input-group">
      <div class="input-group-addon">€</div>
    <div><%= f.input :price %></div>
    </div>
  </div>
</div>

    <%= f.input :has_AC %>
    <%= f.input :has_jacuzzi %>




  </div>
  <div class="form-actions">
    <%= f.button :submit, {class: "btn btn-primary"} %>
    <%= link_to 'Delete Flat', flat_path(@flat), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
  <br>
<% end %>

