<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :accomodates %>

<div class="form-inline">
  <div class="form-group">
    <label class="sr-only">Amount (in Euros)</label>
    <div class="input-group">
      <div class="input-group-addon">€</div>
    <div><%= f.input :price %></div>
    </div>
  </div>
</div>

    <%= f.input :has_AC %>
    <%= f.input :has_jacuzzi %>


<!-- This integrates the create flat_pic form into the flat create form -->
    <%= f.simple_fields_for :flat_pics do |ff| %>
      <div class="form-inputs">
        <%= ff.input :picture, as: :file %>
      </div>
    <% end %>
<!-- Also modified the flat model & controller new and params -->
  </div>
  <div class="form-actions">
    <%= f.button :submit, {class: "btn btn-primary"} %>
  </div>
  <br>
<% end %>

