<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :city %>
    <%= f.input :accomodates %>

<div class="form-inline">
  <div class="form-group">
    <label class="sr-only">Amount (in Euros)</label>
    <div class="input-group">
      <div class="input-group-addon">€</div>
    <div><%= f.input :price %></div>
    </div>
  </div>
</div>

    <%= f.input :has_AC %>
    <%= f.input :has_jacuzzi %>
  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

