<p id="notice"><%= notice %></p>

<div class = "row padded">
  <div class="col-xs-12 col-md-6 text-center">
    <h1 class= "pullUp">Listing Flats</h1>
  </div>
</div>

<div class = "row">
    <% @flats.each do |flat| %>
    <div class="col-xs-6 col-sm-4 col-md-3 text-center">
    <h5><%= flat.city %></h5>
    <hr>
    <p class="text-muted small">Beds : <%= flat.accomodates %> · <%= flat.price %> €/night</p></p>
    <p class="text-muted small"><%= flat.price %> €/night</p>
    <p class="text-muted small"><%= flat.has_AC ? "Air-Conditioning" : "" %>
       <%= flat.has_jacuzzi ? "· Jacuzzi" : "" %></p>

    <p><%#= flat.user.email %></p>
    <p class="text-muted small"><%= link_to 'Show', flat %></p>
    </div>
    <% end %>

</div>

<br>

<%#= link_to 'New Flat', new_flat_path %>

