<div class="map-wrapper">
  <div id="map_many" class="list-map"></div>
</div>

<div class="container">
  <div class = "row">
    <div class="col-sm-7">

      <% if notice %>
        <p id="notice" class="alert alert-success alert-dismissible">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </p>
      <% end %>

      <% @flats.each do |flat| %>
        <div class="col-xs-12 col-sm-6 text-center full-padded">
          <%= link_to (image_tag flat.flat_pics.first.picture.url(:medium), style: "max-width: 100%;"), flat  %>
          <p>
            <%= link_to flat.name, flat %>
            <br>
            <span class = "small text-muted"><%= flat.city %> · Beds : <%= flat.accomodates %> · <%= flat.price %> €/night</span>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on( 'ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map_many' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
  <% end %>
<% end %>
<%#= link_to 'New Flat', new_flat_path %>
