<%= javascript_include_tag "bookings" %>
<%= simple_form_for(@booking, :html => {:class => 'form-vertical'}) do |f| %>

<%= f.error_notification %>
    <h1>Book this flat</h1>
      <p>Name of venue : <%= @flat.first.name %></p>
      <p>Booking location : <%= @flat.first.city %></p>
  <br>

<div class="form-inputs">
<!-- took id name with inspect element and changed the js -->
  <%= f.input :start_date, as: :string %>
  <%= f.input :end_date, as: :string %>
<!-- end of js calendar -->


  <%= f.input :user_id, input_html: { value: @current_user }, as: :hidden %>
  <%= f.input :flat_id, input_html: { value: @flat.first.id }, as: :hidden %>
</div>
<br>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
<br>
<%= link_to 'Back', bookings_path, {class: "btn btn-primary"} %>
<div class = "padded"></div>

