<%= javascript_include_tag "bookings" %>
<%= simple_form_for(@booking, :html => {:class => 'form-vertical'}) do |f| %>

<%= f.error_notification %>
    <h1>Book this flat</h1>

    <% @bookings = Booking.where(flat_id: @flat.id) %>
    <% @bookings.each do |booking| %>
                  <p><%= booking.flat.name %> |
                 <%= booking.start_date %> |
                 <%= booking.end_date %></p>
              <% end %>
              <%= @flat.id %></p>

      <p>Name of venue : <%= @flat.name %></p>
      <p>Booking location : <%= @flat.city %></p>
  <br>

<div class="form-inputs">
<!-- took id name with inspect element and changed the js -->
  <%= f.input :start_date, as: :string %>
  <%= f.input :end_date, as: :string %>
<!-- end of js calendar -->


  <%= f.input :user_id, input_html: { value: @current_user }, as: :hidden %>
  <%= f.input :flat_id, input_html: { value: @flat.id }, as: :hidden %>
</div>
<br>

  <div class="form-actions btn-group">
    <%= f.button :submit, {class: "btn btn-success"} %>
    <%= link_to 'Other Flats', flats_path, {class: "btn btn-primary"} %>
  </div>
<% end %>
<br>

<div class = "padded"></div>

