<%= javascript_include_tag "bookings" %>
<%= simple_form_for(@booking, :html => {:class => 'form-vertical'}) do |f| %>

<%= f.error_notification %>
  <div class="col-xs-3"></div>
  <div class="form-inputs col-xs-6">
    <h1>Book this flat</h1>
    <div class="row">
      <h3><%= @flat.first.name %></h3>
      <p><%= @user.first.email %>, <%= @flat.first.city %></p>
    </div>
    <div class="row">
      <div class="col-xs-5"><%= f.input :start_date, :label => 'Start Date', input_html: { class: 'datepicker' } %></div>
      <div class="col-xs-2"></div>
      <div class="col-xs-5"><%= f.input :end_date, :label => 'End Date', input_html: { class: 'datepicker' } %></div>

      <div class="form-actions">
        <%= hidden_field_tag(:user_id, @user.first.id ) %>
        <%= hidden_field_tag(:flat_id, @flat.first.id ) %>
        <%= f.button :submit %>
      </div>
    </div>
    <br>
    <div><%= link_to 'Back', bookings_path %></div>
  </div>
<div class="col-xs-3"></div>
<% end %>