<div class = "container">
  <div class="row padded">
    <div class="col-xs-10 col-xs-offset-1">

        <% if notice %>
          <p id="notice" class="alert alert-success alert-dismissible">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
        <% end %>

        <div class = "row">

          <h1>Listing Bookings</h1>

          <table class = "table">
            <thead>
              <tr>
                <th>Flat</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <% @bookings.each do |booking| %>
                <tr>
                  <td><%= booking.flat.name %></td>
                  <td><%= booking.start_date %></td>
                  <td><%= booking.end_date %></td>
                  <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, booking %></td>
                  <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_booking_path(booking) %></td>
                  <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Booking', flats_path, {class: "btn btn-primary"} %>
      </div>
    </div>
  </div>
</div>
