<div class = "container padded">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <p id="notice"><%= notice %></p>
      <p>
        <strong>Flat:</strong>
        <%= @booking.flat.name %>
      </p>

      <p>
        <strong>Booked by:</strong>
        <%= @booking.user.email %>
      </p>

      <p>
        <strong>Start date:</strong>
        <%= @booking.start_date %>
      </p>

      <p>
        <strong>End date:</strong>
        <%= @booking.end_date %>
      </p>

      <%#= link_to 'Edit', edit_booking_path(@booking), {class: "btn btn-primary"} %>
      <%= link_to 'List of Bookings', bookings_path, {class: "btn btn-primary"} %>

    </div>
  </div>
</div>