<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>

      <%= image_tag @user.avatar.url(:medium) %>
      <p>email: <%= @user.email %></p>

      <h2>My flats</h2>
      <ul>
        <% @user.flats.each do |flat| %>
          <li>
            <%= link_to flat_path(flat) do %>
              My flat in <%= flat.city %>
            <% end %>
          </li>
        <% end %>
      </ul>


      <h2>My Visits</h2>
      <ul>
        <% @user.bookings.each do |booking| %>
          <li>
            <%= link_to flat_path(booking.flat) do %>
              I went to <%= booking.flat.city %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <%= link_to "Edit profile", edit_user_path %>|
      <%= link_to "Edit my account settings", edit_user_registration_path(@user) %>
    </div>
  </div>
</div>