<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>email: <%= @user.email %></p>

<h2>My flats</h2>
<% @user.flats.each do |flat| %>
  <p>My flat in <%= flat.city %></p>
<% end %>


<h2>My Visits</h2>
<% @user.bookings.each do |booking| %>
  <p>I went to <%= booking.flat.city %></p>
<% end %>

<%= link_to "Edit profile", edit_user_path %>|
<%= link_to "Edit my account settings", edit_user_registration_path(@user) %>